<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dispute Resolution Council</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section class="bg">

    </section>
    
    <script src="/js/bootstrap.min.js"></script>
    <div class="container d-flex justify-content-center align-items-center mx-auto ">
        <button class="btn btn-primary btn-lg align-items-center type="submit">Sign up</button>
        <button class="btn btn-secondary btn-lg align-items-center type="submit">Sign up</button>

    </div>
    
    
</body>
</html>