<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/style.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Your Website</title>
   
</head>
<body class="font-sans bg-blue-300 w-full h-full">

    <!-- Navbar -->
    <nav class="bg-gray-800 p-3 max-w-[1024px] text-white grid grid-cols-2 ">

        <!-- Home Button -->
        <a href="#" class="text-lg font-bold">Home</a>

        <!-- Search Input -->
        <div class="place-self-end ">
            <form action="GET" method="GET">

             <input type="text" placeholder="Search" class=" p-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500">
             <button type="submit"><i class="fa fa-search"></i>Search</button>
            </form>
        
        </div>


    </nav>

    <div class="container">
        <div class="sidebar">
            <ul class="text-yellow-100 text-center ">
                <li class=""><a href="">DashBoard</a></li>
            </ul>
        </div>
    </div>
    

</body>
</html>
