<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <table class="tb">
        <input type="text" placeholder="Enter your name" />
        <input type="text" placeholder="Enter your password" />
        <input type="text" placeholder="Enter your email" />
        <input type="text" placeholder="Enter your mobile number" />
        <input type="text" placeholder="Enter your address" />
        <button class="btn" type="submit">Sign up</button>
        <button class="btn" type="submit">Sign in</button>
      </table>
    </div>
  </body>
</html>
